<launch>
 <node pkg='turtlesim' type='turtlesim_node' name='turtle1' />
 <node pkg='turtlesim' type='turtle_teleop_key' name='splinter' />
 <node pkg='rosservice' type='rosservice' name='hunter_turtle' args="call /spawn 1 1 0 'hunter'" />
 <node pkg='hunting' type='hunter.py' name='hunter_code' />
</launch>
